 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    
    
 header{ 
        background-color: black;
    }
 img {
    width: 20vh;
    height: 20vh;
    border: 2px solid white;
    border-radius: 4px;
    margin-bottom: 4vh;
    margin-top: 4vh;
   
 }
 .may{
    display: flex;
    align-items: center;
   padding: 20px;
   height: 24vh;
 }
 nav{
    flex: 1;
    text-align: right;
 }
 nav ul {
    display: inline-block;
    
 }
 nav ul li{
    display: inline-block;
    margin-right: 20px;
 }
 nav ul li a {
    font-size: 20px;
    color: white;
 }
 
 section{
    height: 120vh;
 }
 .row{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;

 }
 .col-2{
    flex-basis: 50%;
  

 }
 .col-2 img{
    width: 100%;
    height: 112vh;
    margin-bottom: 4vh;

 }
 .col-2 h1{
    font-size: 50px;
    margin: 25px;
    margin-bottom: 150px;
 }

  
    
 
 
 footer {
    
    background-color: rgb(8, 6, 6);
 height: 25vh;
}
.Beline {
    font-size: 20px;
    text-align: center;
    color: azure;
    padding-top: 40px;
}
 footer social-icons{
    width: 1%;
    height: 1%;
}
button {
   display: flex;
   align-items: center;
   justify-content: center;
   outline: none;
   cursor: pointer;
   width: 150px;
   height: 50px;
   background-image: linear-gradient(to top, #D8D9DB 0%, #fff 80%, #FDFDFD 100%);
   border-radius: 30px;
   border: 1px solid #8F9092;
   transition: all 0.2s ease;
   font-family: "Source Sans Pro", sans-serif;
   font-size: 14px;
   font-weight: 600;
   color: #606060;
   text-shadow: 0 1px #fff;
   color: black;
 }
 
 button:hover {
   box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 3px 3px #CECFD1;
 }
 
 button:active {
   box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
 }
 
 button:focus {
   box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
 }
.a{
   
   color: black;
} 
img :hover{
   transform: translateY(-5px);
   box-shadow: 0 0 5px rgb(16, 16, 16),
    0 0 10px  rgb(16, 16, 16),
    0 0 10px  rgb(16, 16, 16),
    0 0 10px  rgb(16, 16, 16),
    0 0 10px  rgb(16, 16, 16);
}
